{
  "openapi": "3.1.0",
  "info": {
    "title": "DoorStax API",
    "version": "1.0.0",
    "description": "Property management and rent payment platform API. DoorStax provides tools for property managers, landlords, tenants, and owners to manage properties, units, leases, payments, maintenance tickets, and more.",
    "contact": {
      "email": "developers@doorstax.com"
    }
  },
  "servers": [
    {
      "url": "https://doorstax.com/api",
      "description": "Production"
    },
    {
      "url": "https://sandbox.doorstax.com/api",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User registration, login, password reset, and 2FA"
    },
    {
      "name": "Properties",
      "description": "Manage rental properties"
    },
    {
      "name": "Units",
      "description": "Manage units within properties"
    },
    {
      "name": "Tenants",
      "description": "Manage tenant profiles and invitations"
    },
    {
      "name": "Leases",
      "description": "Lease creation, signing, and management"
    },
    {
      "name": "Payments",
      "description": "Rent payments, charges, and autopay"
    },
    {
      "name": "Ledger",
      "description": "Immutable payment ledger entries"
    },
    {
      "name": "Payouts",
      "description": "Owner payout generation and processing"
    },
    {
      "name": "Owners",
      "description": "Property owner management"
    },
    {
      "name": "Leads",
      "description": "Lead capture and CRM"
    },
    {
      "name": "Applications",
      "description": "Rental applications"
    },
    {
      "name": "Tickets",
      "description": "Maintenance and service tickets"
    },
    {
      "name": "Messages",
      "description": "Messaging and announcements"
    },
    {
      "name": "Notifications",
      "description": "Dashboard notices"
    },
    {
      "name": "Team",
      "description": "Team member management"
    },
    {
      "name": "Expenses",
      "description": "Property expense tracking"
    },
    {
      "name": "Reports",
      "description": "Financial and operational reports"
    },
    {
      "name": "Admin",
      "description": "Platform administration (ADMIN role required)"
    },
    {
      "name": "Webhooks",
      "description": "Inbound webhook endpoints"
    }
  ],
  "components": {
    "securitySchemes": {
      "session": {
        "type": "apiKey",
        "in": "cookie",
        "name": "next-auth.session-token",
        "description": "NextAuth.js session cookie"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Coming soon"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Something went wrong"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "clxyz1234567890"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john@example.com"
          },
          "name": {
            "type": "string",
            "example": "John Smith"
          },
          "role": {
            "type": "string",
            "enum": [
              "PM",
              "TENANT",
              "ADMIN",
              "OWNER",
              "PARTNER"
            ],
            "example": "PM"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "example": "+15551234567"
          },
          "twoFactorEnabled": {
            "type": "boolean",
            "example": false
          },
          "companyName": {
            "type": "string",
            "nullable": true,
            "example": "Smith Property Management"
          },
          "companyLogo": {
            "type": "string",
            "nullable": true
          },
          "managerStatus": {
            "type": "string",
            "enum": [
              "PROSPECT",
              "ACTIVE",
              "INACTIVE"
            ],
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15T10:30:00.000Z"
          }
        }
      },
      "Property": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "clprop123"
          },
          "landlordId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "example": "Sunset Apartments"
          },
          "address": {
            "type": "string",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "example": "Los Angeles"
          },
          "state": {
            "type": "string",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "example": "90001"
          },
          "propertyType": {
            "type": "string",
            "enum": [
              "SINGLE_FAMILY",
              "MULTIFAMILY",
              "OFFICE",
              "COMMERCIAL"
            ],
            "example": "MULTIFAMILY"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "photos": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ownerId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Unit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "clunit456"
          },
          "propertyId": {
            "type": "string"
          },
          "unitNumber": {
            "type": "string",
            "example": "101"
          },
          "bedrooms": {
            "type": "integer",
            "nullable": true,
            "example": 2
          },
          "bathrooms": {
            "type": "number",
            "nullable": true,
            "example": 1.5
          },
          "sqft": {
            "type": "integer",
            "nullable": true,
            "example": 850
          },
          "rentAmount": {
            "type": "string",
            "example": "1500.00"
          },
          "dueDay": {
            "type": "integer",
            "example": 1
          },
          "status": {
            "type": "string",
            "enum": [
              "AVAILABLE",
              "OCCUPIED"
            ],
            "example": "OCCUPIED"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "photos": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "listingEnabled": {
            "type": "boolean",
            "example": false
          },
          "applicationsEnabled": {
            "type": "boolean",
            "example": false
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TenantProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "clten789"
          },
          "userId": {
            "type": "string"
          },
          "unitId": {
            "type": "string",
            "nullable": true
          },
          "leaseStart": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "leaseEnd": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "autopayEnabled": {
            "type": "boolean",
            "example": false
          },
          "splitPercent": {
            "type": "integer",
            "example": 100
          },
          "isPrimary": {
            "type": "boolean",
            "example": true
          },
          "creditReportingEnrolled": {
            "type": "boolean",
            "example": false
          },
          "onboardingComplete": {
            "type": "boolean"
          },
          "onboardingStep": {
            "type": "string",
            "enum": [
              "PERSONAL_DETAILS",
              "PAYMENT_METHOD",
              "ROOMMATES",
              "MOVE_IN_CHECKLIST",
              "DOCUMENTS",
              "LEASE_ACKNOWLEDGMENT",
              "COMPLETE"
            ]
          },
          "emergencyContactName": {
            "type": "string",
            "nullable": true
          },
          "emergencyContactPhone": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "PROSPECT",
              "ACTIVE",
              "PREVIOUS",
              "DELETED"
            ],
            "example": "ACTIVE"
          },
          "cardBrand": {
            "type": "string",
            "nullable": true,
            "example": "visa"
          },
          "cardLast4": {
            "type": "string",
            "nullable": true,
            "example": "4242"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "unit": {
            "$ref": "#/components/schemas/Unit"
          }
        }
      },
      "Lease": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cllease001"
          },
          "tenantId": {
            "type": "string"
          },
          "unitId": {
            "type": "string"
          },
          "propertyId": {
            "type": "string"
          },
          "landlordId": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "example": "2025-06-01T00:00:00.000Z"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-31T00:00:00.000Z"
          },
          "rentAmount": {
            "type": "string",
            "example": "1500.00"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "ACTIVE",
              "EXPIRED",
              "TERMINATED",
              "RENEWED"
            ],
            "example": "ACTIVE"
          },
          "documentUrl": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "signedByTenant": {
            "type": "boolean",
            "example": true
          },
          "signedByLandlord": {
            "type": "boolean",
            "example": true
          },
          "tenantSignedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "landlordSignedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "clpay001"
          },
          "tenantId": {
            "type": "string"
          },
          "unitId": {
            "type": "string"
          },
          "landlordId": {
            "type": "string"
          },
          "amount": {
            "type": "string",
            "example": "1500.00"
          },
          "type": {
            "type": "string",
            "enum": [
              "RENT",
              "DEPOSIT",
              "FEE",
              "APPLICATION"
            ],
            "example": "RENT"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "COMPLETED",
              "FAILED",
              "REFUNDED"
            ],
            "example": "COMPLETED"
          },
          "paymentMethod": {
            "type": "string",
            "nullable": true,
            "example": "card"
          },
          "cardBrand": {
            "type": "string",
            "nullable": true,
            "example": "visa"
          },
          "cardLast4": {
            "type": "string",
            "nullable": true,
            "example": "4242"
          },
          "achLast4": {
            "type": "string",
            "nullable": true
          },
          "kadimaTransactionId": {
            "type": "string",
            "nullable": true
          },
          "paidAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "surchargeAmount": {
            "type": "string",
            "nullable": true
          },
          "landlordFee": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LedgerEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "clledger001"
          },
          "tenantId": {
            "type": "string"
          },
          "unitId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "CHARGE",
              "PAYMENT",
              "REVERSAL",
              "ADJUSTMENT"
            ],
            "example": "CHARGE"
          },
          "amount": {
            "type": "string",
            "example": "1500.00"
          },
          "balanceAfter": {
            "type": "string",
            "example": "1500.00"
          },
          "periodKey": {
            "type": "string",
            "example": "2026-03"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "March 2026 rent"
          },
          "paymentId": {
            "type": "string",
            "nullable": true
          },
          "createdById": {
            "type": "string",
            "nullable": true
          },
          "locked": {
            "type": "boolean",
            "example": false
          },
          "metadata": {
            "type": "object",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OwnerPayout": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "clpayout001"
          },
          "ownerId": {
            "type": "string"
          },
          "landlordId": {
            "type": "string"
          },
          "periodStart": {
            "type": "string",
            "format": "date-time"
          },
          "periodEnd": {
            "type": "string",
            "format": "date-time"
          },
          "grossRent": {
            "type": "string",
            "example": "15000.00"
          },
          "processingFees": {
            "type": "string",
            "example": "450.00"
          },
          "managementFee": {
            "type": "string",
            "example": "1500.00"
          },
          "expenses": {
            "type": "string",
            "example": "200.00"
          },
          "platformFee": {
            "type": "string",
            "example": "50.00"
          },
          "netPayout": {
            "type": "string",
            "example": "12800.00"
          },
          "payoutFee": {
            "type": "string",
            "example": "19.20"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "APPROVED",
              "PROCESSING",
              "PAID",
              "FAILED"
            ],
            "example": "DRAFT"
          },
          "paidAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "paymentMethod": {
            "type": "string",
            "nullable": true,
            "example": "ach"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Owner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "clowner001"
          },
          "landlordId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "example": "Jane Doe"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "example": "jane@example.com"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "example": "+15559876543"
          },
          "bankName": {
            "type": "string",
            "nullable": true,
            "example": "Chase"
          },
          "bankAccountLast4": {
            "type": "string",
            "nullable": true,
            "example": "6789"
          },
          "managementFeePercent": {
            "type": "string",
            "example": "10.00"
          },
          "payoutFrequency": {
            "type": "string",
            "example": "MONTHLY"
          },
          "deductProcessingFees": {
            "type": "boolean",
            "example": true
          },
          "deductExpenses": {
            "type": "boolean",
            "example": true
          },
          "properties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Property"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cllead001"
          },
          "name": {
            "type": "string",
            "example": "Mike Johnson"
          },
          "email": {
            "type": "string",
            "example": "mike@company.com"
          },
          "phone": {
            "type": "string",
            "example": "5551234567"
          },
          "company": {
            "type": "string",
            "example": "Johnson Properties LLC"
          },
          "buildings": {
            "type": "integer",
            "nullable": true,
            "example": 5
          },
          "units": {
            "type": "integer",
            "nullable": true,
            "example": 50
          },
          "source": {
            "type": "string",
            "enum": [
              "WEBSITE",
              "REFERRAL",
              "AGENT",
              "MANUAL"
            ],
            "example": "WEBSITE"
          },
          "status": {
            "type": "string",
            "enum": [
              "NEW",
              "CONTACTED",
              "QUALIFIED",
              "APPLIED",
              "UNDERWRITING",
              "ONBOARDING",
              "CONVERTED",
              "LOST"
            ],
            "example": "NEW"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "assignedToId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "clapp001"
          },
          "unitId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "example": "Sarah Williams"
          },
          "email": {
            "type": "string",
            "example": "sarah@email.com"
          },
          "phone": {
            "type": "string",
            "example": "+15551112222"
          },
          "employment": {
            "type": "string",
            "example": "Software Engineer"
          },
          "employer": {
            "type": "string",
            "nullable": true,
            "example": "Tech Corp"
          },
          "income": {
            "type": "string",
            "example": "85000.00"
          },
          "rentalHistory": {
            "type": "string",
            "nullable": true
          },
          "references": {
            "type": "object",
            "nullable": true
          },
          "customData": {
            "type": "object",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "APPROVED",
              "REJECTED"
            ],
            "example": "PENDING"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ServiceTicket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cltick001"
          },
          "tenantId": {
            "type": "string"
          },
          "unitId": {
            "type": "string"
          },
          "landlordId": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "example": "Leaking faucet in kitchen"
          },
          "description": {
            "type": "string",
            "example": "The kitchen sink faucet has been dripping constantly."
          },
          "category": {
            "type": "string",
            "enum": [
              "MAINTENANCE",
              "PLUMBING",
              "ELECTRICAL",
              "HVAC",
              "PEST_CONTROL",
              "GENERAL",
              "OTHER"
            ],
            "example": "PLUMBING"
          },
          "priority": {
            "type": "string",
            "enum": [
              "LOW",
              "MEDIUM",
              "HIGH",
              "URGENT"
            ],
            "example": "MEDIUM"
          },
          "status": {
            "type": "string",
            "enum": [
              "OPEN",
              "IN_PROGRESS",
              "RESOLVED",
              "CLOSED"
            ],
            "example": "OPEN"
          },
          "assignedTo": {
            "type": "string",
            "nullable": true
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "estimatedCost": {
            "type": "string",
            "nullable": true
          },
          "actualCost": {
            "type": "string",
            "nullable": true
          },
          "scheduledDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "resolvedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "comments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "authorId": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "clmsg001"
          },
          "senderId": {
            "type": "string"
          },
          "propertyId": {
            "type": "string",
            "nullable": true
          },
          "threadId": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "DIRECT",
              "ANNOUNCEMENT"
            ],
            "example": "DIRECT"
          },
          "subject": {
            "type": "string",
            "example": "Rent reminder"
          },
          "body": {
            "type": "string",
            "example": "This is a friendly reminder that rent is due on the 1st."
          },
          "priority": {
            "type": "string",
            "enum": [
              "LOW",
              "NORMAL",
              "HIGH",
              "URGENT"
            ],
            "example": "NORMAL"
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "string"
                },
                "readAt": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DashboardNotice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "clnotice001"
          },
          "targetUserId": {
            "type": "string"
          },
          "createdById": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "PAYMENT_DUE"
          },
          "title": {
            "type": "string",
            "example": "Rent Due Soon"
          },
          "message": {
            "type": "string",
            "example": "Your rent of $1,500 is due on March 1st."
          },
          "amount": {
            "type": "string",
            "nullable": true,
            "example": "1500.00"
          },
          "severity": {
            "type": "string",
            "enum": [
              "info",
              "warning",
              "urgent"
            ],
            "example": "warning"
          },
          "dismissedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "readAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TeamMember": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "clteam001"
          },
          "landlordId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "MANAGER",
              "ACCOUNTING",
              "CARETAKER",
              "SERVICE_TECH"
            ],
            "example": "MANAGER"
          },
          "propertyIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isActive": {
            "type": "boolean",
            "example": true
          },
          "invitedAt": {
            "type": "string",
            "format": "date-time"
          },
          "acceptedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "Expense": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "clexp001"
          },
          "propertyId": {
            "type": "string"
          },
          "unitId": {
            "type": "string",
            "nullable": true
          },
          "landlordId": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "SERVICES",
              "UPGRADES",
              "TAXES",
              "MORTGAGE",
              "INSURANCE",
              "MAINTENANCE",
              "PAYROLL",
              "PROCESSING_FEES",
              "OTHER"
            ],
            "example": "MAINTENANCE"
          },
          "amount": {
            "type": "string",
            "example": "350.00"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string",
            "example": "HVAC filter replacement"
          },
          "vendor": {
            "type": "string",
            "nullable": true,
            "example": "Cool Air Services"
          },
          "recurring": {
            "type": "boolean",
            "example": false
          },
          "receiptUrl": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AuditLog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "claudit001"
          },
          "userId": {
            "type": "string",
            "nullable": true
          },
          "userName": {
            "type": "string",
            "nullable": true
          },
          "userRole": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "type": "string",
            "example": "CREATE"
          },
          "objectType": {
            "type": "string",
            "example": "Payment"
          },
          "objectId": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "Created payment of $1,500.00"
          },
          "ipAddress": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Invalid request body"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Not authenticated",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Not authenticated"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Forbidden"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Not found"
            }
          }
        }
      },
      "ServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Internal server error"
            }
          }
        }
      }
    },
    "parameters": {
      "PageParam": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1
        },
        "description": "Page number"
      },
      "PerPageParam": {
        "name": "perPage",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 25
        },
        "description": "Items per page"
      },
      "SearchParam": {
        "name": "search",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Search term"
      }
    }
  },
  "security": [
    {
      "session": []
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register new user",
        "operationId": "registerUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "password",
                  "role"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "John Smith"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "john@example.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "example": "SecurePass123!"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "PM",
                      "TENANT",
                      "OWNER"
                    ],
                    "example": "PM"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": []
      }
    },
    "/auth/forgot-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request password reset",
        "operationId": "forgotPassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset email sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": []
      }
    },
    "/auth/reset-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Reset password with token",
        "operationId": "resetPassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "password"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": []
      }
    },
    "/2fa/send": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Send 2FA verification code",
        "operationId": "send2fa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone"
                ],
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "+15551234567"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/2fa/verify": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify 2FA code",
        "operationId": "verify2fa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verified": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/properties": {
      "get": {
        "tags": [
          "Properties"
        ],
        "summary": "List properties",
        "operationId": "listProperties",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Property",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Property"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Properties"
        ],
        "summary": "Create property",
        "operationId": "createProperty",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "address",
                  "city",
                  "state",
                  "zip"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Sunset Apartments"
                  },
                  "address": {
                    "type": "string",
                    "example": "123 Main St"
                  },
                  "city": {
                    "type": "string",
                    "example": "Los Angeles"
                  },
                  "state": {
                    "type": "string",
                    "example": "CA"
                  },
                  "zip": {
                    "type": "string",
                    "example": "90001"
                  },
                  "propertyType": {
                    "type": "string",
                    "enum": [
                      "SINGLE_FAMILY",
                      "MULTIFAMILY",
                      "OFFICE",
                      "COMMERCIAL"
                    ],
                    "default": "MULTIFAMILY"
                  },
                  "description": {
                    "type": "string"
                  },
                  "ownerId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Property detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/properties/{id}": {
      "get": {
        "tags": [
          "Properties"
        ],
        "summary": "Get property detail",
        "operationId": "getProperty",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Property detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Properties"
        ],
        "summary": "Update property",
        "operationId": "updateProperty",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "zip": {
                    "type": "string"
                  },
                  "propertyType": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "ownerId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Property detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Properties"
        ],
        "summary": "Delete property",
        "operationId": "deleteProperty",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/properties/{id}/financials": {
      "get": {
        "tags": [
          "Properties"
        ],
        "summary": "Get property financials",
        "operationId": "getPropertyFinancials",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Property financials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalRentCollected": {
                      "type": "string"
                    },
                    "totalExpenses": {
                      "type": "string"
                    },
                    "netIncome": {
                      "type": "string"
                    },
                    "occupancyRate": {
                      "type": "number"
                    },
                    "units": {
                      "type": "integer"
                    },
                    "occupiedUnits": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/properties/{id}/units": {
      "get": {
        "tags": [
          "Units"
        ],
        "summary": "List units for property",
        "operationId": "listUnits",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Unit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Unit"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Units"
        ],
        "summary": "Create unit",
        "operationId": "createUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "unitNumber",
                  "rentAmount"
                ],
                "properties": {
                  "unitNumber": {
                    "type": "string",
                    "example": "101"
                  },
                  "bedrooms": {
                    "type": "integer"
                  },
                  "bathrooms": {
                    "type": "number"
                  },
                  "sqft": {
                    "type": "integer"
                  },
                  "rentAmount": {
                    "type": "number",
                    "example": 1500
                  },
                  "dueDay": {
                    "type": "integer",
                    "default": 1
                  },
                  "description": {
                    "type": "string"
                  },
                  "amenities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Unit detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/properties/{id}/units/{unitId}": {
      "get": {
        "tags": [
          "Units"
        ],
        "summary": "Get unit",
        "operationId": "getUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          },
          {
            "name": "unitId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "unitId of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Unit detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Units"
        ],
        "summary": "Update unit",
        "operationId": "updateUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          },
          {
            "name": "unitId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "unitId of the resource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "unitNumber": {
                    "type": "string"
                  },
                  "bedrooms": {
                    "type": "integer"
                  },
                  "bathrooms": {
                    "type": "number"
                  },
                  "sqft": {
                    "type": "integer"
                  },
                  "rentAmount": {
                    "type": "number"
                  },
                  "dueDay": {
                    "type": "integer"
                  },
                  "description": {
                    "type": "string"
                  },
                  "amenities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unit detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Units"
        ],
        "summary": "Delete unit",
        "operationId": "deleteUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          },
          {
            "name": "unitId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "unitId of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tenants": {
      "get": {
        "tags": [
          "Tenants"
        ],
        "summary": "List tenants",
        "operationId": "listTenants",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of TenantProfile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TenantProfile"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tenants/create": {
      "post": {
        "tags": [
          "Tenants"
        ],
        "summary": "Create tenant",
        "operationId": "createTenant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "unitId"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Alice Tenant"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "unitId": {
                    "type": "string"
                  },
                  "leaseStart": {
                    "type": "string",
                    "format": "date"
                  },
                  "leaseEnd": {
                    "type": "string",
                    "format": "date"
                  },
                  "rentAmount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "TenantProfile detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProfile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tenants/{id}": {
      "get": {
        "tags": [
          "Tenants"
        ],
        "summary": "Get tenant",
        "operationId": "getTenant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "TenantProfile detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProfile"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Tenants"
        ],
        "summary": "Update tenant",
        "operationId": "updateTenant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "unitId": {
                    "type": "string"
                  },
                  "leaseStart": {
                    "type": "string",
                    "format": "date"
                  },
                  "leaseEnd": {
                    "type": "string",
                    "format": "date"
                  },
                  "status": {
                    "type": "string"
                  },
                  "emergencyContactName": {
                    "type": "string"
                  },
                  "emergencyContactPhone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TenantProfile detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProfile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Tenants"
        ],
        "summary": "Soft-delete tenant",
        "operationId": "deleteTenant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tenants/invite": {
      "post": {
        "tags": [
          "Tenants"
        ],
        "summary": "Invite tenant",
        "operationId": "inviteTenant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "unitId"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "unitId": {
                    "type": "string"
                  },
                  "initialCharges": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tenants/me": {
      "get": {
        "tags": [
          "Tenants"
        ],
        "summary": "Get current tenant profile",
        "operationId": "getTenantMe",
        "responses": {
          "200": {
            "description": "TenantProfile detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProfile"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/leases": {
      "get": {
        "tags": [
          "Leases"
        ],
        "summary": "List leases",
        "operationId": "listLeases",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Lease",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lease"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Leases"
        ],
        "summary": "Create lease",
        "operationId": "createLease",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tenantId",
                  "unitId",
                  "propertyId",
                  "startDate",
                  "endDate",
                  "rentAmount"
                ],
                "properties": {
                  "tenantId": {
                    "type": "string"
                  },
                  "unitId": {
                    "type": "string"
                  },
                  "propertyId": {
                    "type": "string"
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "rentAmount": {
                    "type": "number",
                    "example": 1500
                  },
                  "notes": {
                    "type": "string"
                  },
                  "documentUrl": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lease detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lease"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/leases/{id}": {
      "get": {
        "tags": [
          "Leases"
        ],
        "summary": "Get lease",
        "operationId": "getLease",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Lease detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lease"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Leases"
        ],
        "summary": "Update lease",
        "operationId": "updateLease",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "rentAmount": {
                    "type": "number"
                  },
                  "status": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lease detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lease"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/leases/{id}/sign": {
      "post": {
        "tags": [
          "Leases"
        ],
        "summary": "Sign lease",
        "operationId": "signLease",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "signatureData": {
                    "type": "string",
                    "description": "Base64 signature image"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lease detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lease"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/leases/expiring": {
      "get": {
        "tags": [
          "Leases"
        ],
        "summary": "Get expiring leases",
        "operationId": "getExpiringLeases",
        "responses": {
          "200": {
            "description": "List of Lease",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lease"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payments": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "List payments",
        "operationId": "listPayments",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "COMPLETED",
                "FAILED",
                "REFUNDED"
              ]
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unitId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create payment (tenant pays rent)",
        "operationId": "createPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "example": 1500
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "RENT",
                      "DEPOSIT",
                      "FEE"
                    ]
                  },
                  "description": {
                    "type": "string"
                  },
                  "paymentMethod": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payments/{id}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get payment detail",
        "operationId": "getPayment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payments/{id}/receipt": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Download payment receipt",
        "operationId": "getPaymentReceipt",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF receipt",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payments/charge": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Charge tenant (PM-initiated)",
        "operationId": "chargeTenant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tenantId",
                  "amount"
                ],
                "properties": {
                  "tenantId": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number",
                    "example": 1500
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "RENT",
                      "DEPOSIT",
                      "FEE"
                    ]
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payments/autopay": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Enable autopay",
        "operationId": "enableAutopay",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dayOfMonth": {
                    "type": "integer",
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Autopay enabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Payments"
        ],
        "summary": "Disable autopay",
        "operationId": "disableAutopay",
        "responses": {
          "200": {
            "description": "Autopay disabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payments/unpaid": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "List unpaid rent",
        "operationId": "listUnpaidRent",
        "responses": {
          "200": {
            "description": "List of Payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/tenant/ledger": {
      "get": {
        "tags": [
          "Ledger"
        ],
        "summary": "Get tenant ledger entries",
        "operationId": "getTenantLedger",
        "parameters": [
          {
            "name": "periodKey",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Billing period (e.g. 2026-03)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of LedgerEntry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LedgerEntry"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ledger/adjust": {
      "post": {
        "tags": [
          "Ledger"
        ],
        "summary": "Create ledger adjustment",
        "operationId": "createLedgerAdjustment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tenantId",
                  "unitId",
                  "amount",
                  "description"
                ],
                "properties": {
                  "tenantId": {
                    "type": "string"
                  },
                  "unitId": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number",
                    "example": -50,
                    "description": "Positive = charge, negative = credit"
                  },
                  "description": {
                    "type": "string",
                    "example": "Late fee waiver"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "LedgerEntry detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerEntry"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payouts": {
      "get": {
        "tags": [
          "Payouts"
        ],
        "summary": "List payouts",
        "operationId": "listPayouts",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of OwnerPayout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OwnerPayout"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Generate payout",
        "operationId": "generatePayout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ownerId",
                  "periodStart",
                  "periodEnd"
                ],
                "properties": {
                  "ownerId": {
                    "type": "string"
                  },
                  "periodStart": {
                    "type": "string",
                    "format": "date"
                  },
                  "periodEnd": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OwnerPayout detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnerPayout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payouts/{id}": {
      "get": {
        "tags": [
          "Payouts"
        ],
        "summary": "Get payout detail",
        "operationId": "getPayout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "OwnerPayout detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnerPayout"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payouts/{id}/approve": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Approve payout",
        "operationId": "approvePayout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "OwnerPayout detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnerPayout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payouts/{id}/process": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Process payout (trigger ACH)",
        "operationId": "processPayout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "OwnerPayout detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnerPayout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payouts/{id}/mark-paid": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Mark payout as manually paid",
        "operationId": "markPayoutPaid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id of the resource"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paymentMethod": {
                    "type": "string",
                    "enum": [
                      "manual",
                      "check",
                      "wire"
                    ]
                  },
                  "notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OwnerPayout detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnerPayout"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/owners": {
      "get": {
        "tags": [
          "Owners"
        ],
        "summary": "List owners",
        "operationId": "listOwners",
        "responses": {
          "200": {
            "description": "List of Owner",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Owner"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Owners"
        ],
        "summary": "Create owner",
        "operationId": "createOwner",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Jane Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
[...]
